extends layout

block content
  .row
    .col-lg-4
      table.table
        thead
          tr
            th Phone number
            th State
            th
        tbody
          each number in availableNumbers
            tr
              td= number.friendlyName
              td= number.region
              td
                form(name='purchaseNumber', action='/lead-source', method='POST')
                  input(type='hidden', name='phoneNumber', value="#{number.phone_number}")
                  input(type='hidden', name='_csrf', value="#{csrftoken}")
                  input(type='submit', value='Purchase').btn.btn-sm.btn-primary
