extends layout

block content
  h2 Edit a lead source
  hr
  h3 Lead source phone number: #{leadSourcePhoneNumber}
  div.row
    div.col-lg-4
        form(name='editLeadSource', action='/lead-source/#{leadSourceId}/update', method='POST')
            div.form-group
                label(for='description') Description:
                input(type='text', name='description', value='#{leadSourceDescription}').form-control
            div.form-group
                label(for='forwardingNumber') Forwarding number:
                input(type='text', name='forwardingNumber', value='#{leadSourceForwardingNumber}').form-control
            input(type='submit', value='Update').btn.btn-primary
